{% extends 'base.html'%}
{% block content%}
<br>

<div class="section-heading-wrap text-center mb-5">
    <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Admin Page</span>
    </h2>
    <div class="border"></div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card" style="background-color:#171717" >
            <div class="card-body">
                <form method="post" action="/admin" class="form-outline-style-v1">
                    <div class="form-group row mb-0">
                        <div class="col-lg-6 form-group">
                            <input name="regid" type="text" placeholder="Search by RegistrationId" class="form-control" id="regid">
                        </div>
                        <div class="col-lg-6 form-group">
                            <input name="name" type="text" placeholder="Search by Name" class="form-control" id="name">
                        </div>
                        <div class="col-lg-6 form-group">
                            
                            <input name="email" placeholder="search by Email" type="email" class="form-control" id="email">
                        </div>
                        <div class="col-lg-6 form-group">
                            
                            <input name="transaction" placeholder="search by Transaction" type="text" class="form-control">
                        </div>
                        
                        
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 d-flex align-items-center">
                            <input type="submit"
                                class="btn btn-outline-pill btn-custom-light mr-3"
                                value="Send Message">
                            <span class="Fetching........."></span>
                        </div>
                    </div>
                </form>
             </div>
        </div>
    </div>
</div>
	 <br>
     <table>
        
        <thead>
          <tr>
            <th scope="col">RegisterId</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">College</th>
            <th scope="col">Year</th>
            <th scope="col">Department</th>
            <th scope="col">Transaction</th>
            <th scope="col">Date of Registration</th>
          </tr>
        </thead>
        <tbody>
            {%for s in data %}
            <tr>
                <td data-label="RegisterId">{{s.Id}}</td>
                <td data-label="Name">{{s.Name}}</td>
                <td data-label="Email">{{s.Email}}</td>
                <td data-label="College">{{s.College}}</td>
                <td data-label="year">{{s.Year}}</td>
                <td data-label="Department">{{s.Department}}</td>
                <td data-label="Transaction">{{s.Transaction}}</td>
                <td data-label="Date of Registration">{{s.Date}}</td>
              </tr>
             {%endfor%}
          
          
        </tbody>
      </table>
{%endblock%}